<footer class="mastfoot">
    <div class="inner container">
         <div class="row">
         	<div class="col-lg-4 hello1">
         		<div class="footer-widget pr-lg-5 pr-0">
         			<img src="{{ .Site.Params.logo | absURL }}" class="img-fluid footer-logo" alt="">
	         		<p>Puedes realizar tu pedido llamando al 976416351 y recoger tu pedido en tienda en menos de 2hr. Te esperamos!</p>
         		</div>

         	</div>
         	<div class="col-lg-4 hello">
         		<div class="footer-widget px-lg-5 px-0">
         			<h3>Horario apertura</h3>
	         		<ul class="list-unstyled open-hours">
		                <li class="d-flex justify-content-between"><span>Lunes</span><span>8:30 - 14:30</span></li>
		                <li class="d-flex justify-content-between"><span>martes</span><span>8:30 - 14:30</span></li>
		                <li class="d-flex justify-content-between"><span>Miércoles</span><span>8:30 - 14:30</span></li>
		                <li class="d-flex justify-content-between"><span>Jueves</span><span>8:30 - 14:30</span></li>
		                <li class="d-flex justify-content-between"><span>Viernes</span><span>8:30 - 20:00</span></li>
		                <li class="d-flex justify-content-between"><span>Sábado</span><span>8:30 - 14:30</span></li>
		                <li class="d-flex justify-content-between"><span>Domingo</span><span> Cerrado</span></li>
		              </ul>
         		</div>

         	</div>
         	<div class="col-md-12 d-flex align-items-center">
         		<p class="mx-auto text-center mb-0">{{.Site.Copyright | safeHTML }}</p>
         	</div>
        </div>
    </div>
</footer>
</div>
</div>
	<!-- External JS -->
	<script src="{{ "js/jquery.min.js" | absURL }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ "js/moment.min.js" | absURL }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ "vendor/bootstrap/popper.min.js" | absURL }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ "vendor/bootstrap/bootstrap.min.js" | absURL }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ "vendor/select2/select2.min.js" | absURL}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ "vendor/owlcarousel/owl.carousel.min.js" | absURL}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ "js/featherlight.min.js" | absURL}}" type="text/javascript" charset="utf-8" ></script>
	<script src="{{ "vendor/stellar/jquery.stellar.js" | absURL}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ "js/tempusdominus-bootstrap-4.min.js" | absURL}}" type="text/javascript" charset="utf-8" ></script>
  <script src="{{ "js/shuffle.min.js" | absURL}}" type="text/javascript" charset="utf-8" ></script>
	{{if .IsHome }}
	<!--Main JS -->
	<script src="{{ "js/app.min.js"  | absURL}}"></script>
	{{end}}
	<!--Google Analytics-->
	{{ if .Site.Params.enableGA }}
		{{ template "_internal/google_analytics.html" . }}
	{{end}}
