        <div class="boxed-page">
            <nav id="navbar-header" class="navbars">
          <a class="navbar-brand navbar-brand-center" href="#">
            <img src="images/logos.png">
            <h3>
              Charcutería Villarroya
            </h3>
          </a>



            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex">
                    <div class="d-flex flex-lg-row flex-column">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-menu">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-welcome">About</a>
                        </li>
                        <li class="nav-item dropdown">
                              <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-menu">NIIDEA</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-menu">Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-welcome">Artículos</a>
                        </li>
                        <li class="nav-item dropdown">
                              <a class="nav-link" href="{{ .Site.BaseURL }}#gtco-menu">Contacta</a>
                        </li>
                    </div>
                </ul>
            </div>
    </nav>
